.fonts-view {
  font-family: 'Caveat Brush', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 1.02;

  color: #2e2520;
}

.about__title {
  font-family: 'Caveat Brush', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.81;
  text-align: center;

  color: #2e2520;
}

.about__text {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;

  color: #2e2520;
}

.reviews-naim {
  font-family: 'Montserrat', sans-serif;
  font-style: Italic;
  font-weight: 500;
  font-size: 16px;
  line-height: 4.06;
  color: #2e2520;
}
